<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="10" name="SideCar Suite" parallel="methods" >

    <listeners>
        <listener class-name="com.listener.Listener" />
        <listener class-name="com.listener.DriverListener" />
    </listeners>

        <test name="Regression suite 1" >
            <classes>
                <class name="com.webuitest.suite.NavigatePage2Test"/>
            </classes>
        </test>
    </suite>

